#include <nrf9160dk_uart1_on_if0_3.dtsi>

&pinctrl {
    spi1_default_pss: spi1_default_pss {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 17)>,
                <NRF_PSEL(SPIM_MISO, 0, 20)>,
                <NRF_PSEL(SPIM_MOSI, 0,15)>;
                // cs = P0.22
            nordic,drive-mode = <NRF_DRIVE_H0H1>;
        };
    };

    spi1_sleep_pss: spi1_sleep_pss {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 17)>,
            <NRF_PSEL(SPIM_MISO, 0, 20)>,
            <NRF_PSEL(SPIM_MOSI, 0,15)>;
            // cs = P0.22
            low-power-enable;
        };
    };

};

&uart1 {
    status = "disabled";
};

&spi1 {
    status = "okay";
    cs-gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;
    pinctrl-0 = < &spi1_default_pss >;
    pinctrl-1 = < &spi1_sleep_pss >;
};